@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
}

body {
      background-color: #000000;
      font-family: "Poppins", sans-serif;
}

.container {
      max-width: 1200px;
      margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
      font-size: 25px;
      color: red;
}

.swiper-pagination-bullet {
      background-color: #ffffff;
      opacity: 1;
}

.swiper-pagination-bullet-active {
      background-color: red;
}

.menu {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center; /* Corregido */
      z-index: 1000;
}

.navbar {
      display: flex;
}

.menu-1 {
      margin-right: 100px;
}

.menu-2 {
      margin-left: 100px;
      display: flex;
      align-items: center;
}

.logo-1 {
      width: auto; /* Ajustado */
}

.logo-2 {
      width: 150px;
}

.socials {
      display: flex;
}

.social {
      margin: 0 10px;
      height: 40px;
      width: 40px;
      border: 1px solid red;
      border-radius: 50%;
}

.social:hover {
      background-color: red;
}

.social img {
      margin: auto; /* Usar flexbox para centrar podría ser mejor */
      display: block;
      width: 50%; /* Ajustado para un mejor escalado */
}

.menu .navbar ul li {
      position: relative;
      float: left;
}

.menu .navbar ul li a {
      font-size: 30px;
      padding: 30px;
      color: #FFFFFF;
      display: block;
}

.menu .navbar ul li a:hover {
      color: #D8241B;
}

#menu {
      display: none;
}

.menu-icono {
      width: 25px;
}

.menu label {
      cursor: pointer;
      display: none;
}

.header-content {
      margin-top: 150px;
      padding-bottom: 50px;
}

.slider {
      display: flex;
      align-items: center;
}

.slider-txt {
      margin-left: 55px;
      width: 50%;
}

.slider-txt h1 {
      font-size: 90px;
      color: #FFFFFF; /* Ajustado para texto claro */
      text-transform: uppercase;
      font-weight: 800;
}

.slider-txt p {
      font-size: 15px;
      color: #A7A7A7;
}

.botones {
      margin-top: 50px;
}

.btn-1 {
      display: inline-block;
      padding: 15px 35px;
      color: #FFFFFF;
      font-weight: 800;
      border: 2px solid red;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-right: 30px;
      border-radius: 50px;
}

.text-white {
      color: white;
    }

.btn-1:hover {
      background-color: #D8241B;
}

.slider-img {
      width:50%;
}

.slider-img img {
      margin-right:325px;
      width:1100px;;
}