@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
}

body {
      background-color: #000000;
      font-family: "Poppins", sans-serif;
}

.container {
      max-width: 1200px;
      margin: 0 auto;
}

.swiper-button-prev,
.swiper-button-next {
      font-size: 25px;
      color: red;
}

.swiper-pagination-bullet {
      background-color: #ffffff;
      opacity: 1;
}

.swiper-pagination-bullet-active {
      background-color: red;
}

.menu {
      position: absolute;
      top: 20px;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center; /* Corregido */
      z-index: 1000;
}

.navbar {
      display: flex;
}

.menu-1 {
      margin-right: 100px;
}

.menu-2 {
      margin-left: 100px;
      display: flex;
      align-items: center;
}

.logo-1 {
      width: auto; /* Ajustado */
}

.logo-2 {
      width: 150px;
}

.socials {
      display: flex;
}

.social {
      margin: 0 10px;
      height: 40px;
      width: 40px;
      border: 1px solid red;
      border-radius: 50%;
}

.social:hover {
      background-color: red;
}

.social img {
      margin: auto; /* Usar flexbox para centrar podría ser mejor */
      display: block;
      width: 50%; /* Ajustado para un mejor escalado */
}

.menu .navbar ul li {
      position: relative;
      float: left;
}

.menu .navbar ul li a {
      font-size: 30px;
      padding: 30px;
      color: #FFFFFF;
      display: block;
}

.menu .navbar ul li a:hover {
      color: #D8241B;
}

#menu {
      display: none;
}

.menu-icono {
      width: 25px;
}

.menu label {
      cursor: pointer;
      display: none;
}

.header-content {
      margin-top: 150px;
      padding-bottom: 50px;
}

.slider {
      display: flex;
      align-items: center;
}

.slider-txt {
      margin-left: 55px;
      width: 50%;
}

.slider-txt h1 {
      font-size: 90px;
      color: #FFFFFF; /* Ajustado para texto claro */
      text-transform: uppercase;
      font-weight: 800;
}

.slider-txt p {
      font-size: 15px;
      color: #A7A7A7;
}

.botones {
      margin-top: 50px;
}

.btn-1 {
      display: inline-block;
      padding: 15px 35px;
      color: #FFFFFF;
      font-weight: 800;
      border: 2px solid red;
      letter-spacing: 2px;
      text-transform: uppercase;
      margin-right: 30px;
      border-radius: 50px;
}

.text-white {
      color: white;
    }

.btn-1:hover {
      background-color: #D8241B;
}

.slider-img {
      width:50%;
}

.slider-img img {
      margin-right:325px;
      width:550PXpx;;
}

.PRODUCTOS {
      background-color: #0D0D0D;
}

.tabs {
      display:flex;
      flex-wrap:wrap;
      padding: 100px 0px;
}

.tabs label {
      width:15%;
      order:1;
      display:block;
      padding:30px 0px;
      text-align:center;
      cursor:pointer;
      color:#A7A7A7;
      font-weight:700;
      transition:background ease 0.2s;
}

.tabs .tab {
      order: 99;
      flex-grow:1;
      width:100%;
      display:none;
      padding-top:25px;
}

.tabs input[type="radio"] {
      display:none;
}
.tabs input[type="radio"]:checked + label {
      border-bottom: 2px solid red;
      color:#FFFFFF;
}

.product {
      display:flex;
      align-items: center;
      padding:25px;
      margin: 0 10px;
}

.product-img {
      width:90%;
      text-align:left;
}

.product-img {
      display:inline-block;
      padding:5px 7px;
      line-height: 15px;
      color:#FFFFFF;
      font-size:14px;
      text-transform:uppercase;
      font-weight:800;
      border:2px solid #555555;
      border-radius:10px;
      margin-bottom: 50px;
}

.product-img img {
      width:150px;
      height:120px;
}

.product-txt {
      width:50%;
      margin-left:10px;
      text-align: left;
}

.product-txt h4 {
      color:white;
      font-size: 18px;
      text-transform:uppercase;
      font-weight:800;
      margin-bottom:5px;
}

.product-txt p {
      color:#A7A7A7;
      font-size: 10px;
      margin-bottom: 15px;
}

.product-txt span {
      color:#FFFFFF;
      font-size: 18px;
      font-weight: 800;
}

.info {
      padding:100px 0px;
      display:flex;
      align-items:center;
}

.info-img {
      width:50%;
}

.info-img img {
      width:100px;
      height:250px;
}

.info-txt {
      width:50%;
}

.info-txt h2 {
      font-size:75px;
      color:#FFFFFF;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 25px;
}

.info-txt p {
      font-size:18px;
      color:#A7A7A7;
      margin-bottom: 50px;
}

.btn-2 {
      display: inline-block;
      padding:15px 35px;
      background-color: #D8241B;
      color:#ffffff;
      font-weight: 800;
      text-transform: uppercase;
      border-radius:50px;
}

.btn-2:hover {
      background-color: rgb(130, 32, 32);
      
}